body {
    background: url('./img/startscreen.webp') fixed;
    /*background-size: cover;*/
    background-position: center;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 33.3333333%);
    margin: auto;
    margin-top: 65vh;
}

nav img {
    width: 75%;
    margin: auto;
    user-select: none;
}